.main_block {
    background-color: #80c2d2;
}

.main_container {
    justify-content: space-evenly;
    align-items: flex-start;
}

.about_me {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.qualities {
    align-self: center;
}

.photo {
    width: 300px;
    height: 400px;
    border: 1px solid
}

